@tailwind components;
@tailwind utilities;


@layer components {
  .homeContainer {
    @apply w-full min-h-screen bg-no-repeat bg-cover bg-center flex flex-col items-center justify-center relative;
    background-image: url('../public/Group 414.png');
  }
  .homeTagline {
    @apply mt-2 home-text;
  }
  .homeCredit {
    @apply mb-5 home-text;
  }
}
@layer utilities {
  .home-text {
    @apply leading-5 text-center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9375rem;
  }
}